/* Цвет основного текста #757575 */
/* Цвет загoловков #212121 */
/* Цвет акцентирования внимания #2196f3 */
/* Цвет вторичного фона #f5f4fa */
/* Цвет белого текста #ffffff */
/* Фон футера и героя #2f303a*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --logo-web-color: #2196f3;
  --logo-studio-color: #000000;
  --white-color-text: #ffffff;
  --alternative-bgc: #2f303a;
  --secondary-bcg: #f5f4fa;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}
.img {
  display: block;
}
/* Site nav */
.header {
  height: 80px;
}
.header-cont {
  display: flex;
  align-items: center;
  height: 80px;
}
.logo {
  display: flex;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
}
.logo .web {
  color: var(--logo-web-color);
}
.logo .studio-dark {
  color: var(--logo-studio-color);
}
.logo .studio-light {
  color: var(--white-color-text);
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  line-height: 1.14;
}
.site-nav .link:not(last-child) {
  margin-right: 50px;
}
.contact-header {
  display: flex;
  margin-left: auto;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}
.site-nav .link.current {
  color: var(--accent-text-color);
}
.contact-header .tell {
  margin-left: 50px;
}
/* Hero */
.hero {
  background-color: var(--alternative-bgc);
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  height: 600px;
}
.hero .hero-title {
  color: var(--white-color-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  width: 696px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
}
.hero .button {
  background-color: var(--accent-text-color);
  color: var(--white-color-text);
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  border: none;
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 200px;
}
.hero .button:hover,
.hero .button:focus {
  background-color: #188ce8;
}
/* Section */
.section .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text-color);
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
}
.section .title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.without {
  padding-top: 0px;
  padding-bottom: 94px;
}
.without .list-item {
  width: 270px;
}
.without .list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.s-features .list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.s-features .section-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.features-img {
  margin-bottom: 94px;
}
.section .description {
  font-weight: 400;
  line-height: 1.7;
  margin-top: 0px;
  margin-bottom: 0px;
}
.our-team .list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 94px;
}
.our-team {
  background-color: var(--secondary-bcg);
  height: 648px;
}
.our-team .section-title {
  display: flex;
  padding-top: 94px;
  margin-bottom: 50px;
  justify-content: center;
}
.section .team-name {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 10px;
}
.section .position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  padding-bottom: 30px;
  margin: 0px;
}
.worker-box {
  background-color: var(--white-color-text);
  width: 270px;
  text-align: center;
  border-radius: 1px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.footer {
  background-color: var(--alternative-bgc);
}
.footer .logo {
  padding-top: 60px;
  margin-bottom: 20px;
}
.contact-header .mail,
.contact-header .tell {
  font-weight: 500;
  color: var(--primary-text-color);
}
.contact-header .mail:focus,
.contact-header .tell:focus,
.contact-header .mail:hover,
.contact-header .tell:hover {
  color: var(--accent-text-color);
}
.contact-footer .mail,
.contact-footer .tell {
  font-weight: 400;
  color: var(--primary-text-color);
  line-height: 1.7;
}
.contact-footer .mail {
  margin-bottom: 9px;
}
.contact-footer .tell {
  padding-bottom: 0px;
}
.contact-footer .mail:hover,
.contact-footer .tell:hover,
.contact-footer .mail:focus,
.contact-footer .tell:focus {
  color: var(--accent-text-color);
}
.adress {
  color: var(--white-color-text);
  font-style: normal;
  line-height: 1.7;
  font-weight: 400;
  margin-bottom: 9px;
}
.contact-footer {
  padding-bottom: 60px;
}
/* Portfolio */
.examples-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.filter .button {
  background-color: var(--secondary-bcg);
  color: var(--logo-studio-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 3px;
}
.filter .button:focus,
.filter .button:hover {
  color: var(--white-color-text);
  background-color: var(--accent-text-color);
}
.examples .title {
  color: var(--logo-studio-color);
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 4px;
}
.examples .description {
  font-size: 16px;
  line-height: 1.88;
  font-weight: 400;
  color: var(--primary-text-color);
  margin: 0px;
}
.examples-item {
  border: 1px solid #eeeeee;
  width: 370px;
  margin-bottom: 30px;
  margin-right: 0px;
}
.abra {
  margin: 20px 24px;
  width: 322px;
  height: 70px;
}
.filter {
  display: flex;
  justify-content: center;
  padding-top: 94px;
}
.filter .button:not(last-child) {
  margin-right: 8px;
}
.mail-portfolio {
  border-top: 1px solid #ececec;
  padding-top: 94px;
}
